*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.header{
    max-width: 1320px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    height: 100px;
    padding: 7px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1320px;
    /* border: 2px solid black; */
    margin:auto;
    /* padding: 2px; */
    display: flex;
    flex-wrap: wrap;
}
.container-fluid{
    /* border: 1px solid red; */
    /* width: 100%; */
    padding: 10px 0px ;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    font-family: sans-serif;
    color: #00376E;
    /* border: 1px solid green; */
    /* margin-left: 49px; */
    padding: 10px;
}
.nav1{
    /* border: 1px solid green; */
    padding: 5px 30px;
    /* margin-right: 20px; */
    margin-left: 145px;
}
.nav1 a{
    padding: 5px 30px;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    border-radius: 3px;
    text-decoration: none;
}
.nav1 a:hover{
    background-color: #4CB5AB;
    color: white;
}
.nav1  a:last-child{
    border-left: 1px dotted red ;  
    margin-left: -5px;
}
.nav1  a:nth-child(5){
    background-color: #4CB5AB;
}







.tearmbox{
    /* border: 2px solid black; */
    max-width: 1320px;
    margin: auto;
    padding: 20px;
}
.innertearm{
    /* border: 1px solid red; */
    width: 100%;
    padding: 5px;
}
.microtearm{
    /* border: 1px solid blue; */
    padding: 10px;
}
.microtearm h3{
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    color: #00376E;
    line-height: 1.8;
    letter-spacing: normal;
}
.microtearm p{
    text-align: left;
    color: #5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}





.pic{
    /* border: 2px solid black; */
    width: 100%;
    height: 260px;
    background-image: url(images/slider/stick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    background-blend-mode: overlay;
    background-color:rgba(90, 29, 22, 0.65);
}     
.table{
    /* border: 2px solid red; */
    width: 1000px;
    margin: auto;
    padding: 50px 0px ;
    text-align: center;
} 
.table h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: white;
    /* line-height: 1.8; */
    letter-spacing: normal;
    margin-bottom: 10px;
}   
.table p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    /* line-height: 1.8; */
    letter-spacing: normal;
    color: white;
    margin-bottom: 10px;
}   
.pic2{
    width: 100%;
    background-color:#00376E ;
    height: 400px;   
    margin-top: 50px;
}  
.pic3{
    /* border: 1px solid red; */
    width: 1320px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    /* margin-top: 20px; */
}
.table1{
    /* border: 1px solid orange; */
    width: 285px;
    margin: 0px 15px;
    height: 200px;
    text-align: left;
}  
.table2{
    /* border: 1px solid orange; */
    width: 285px;
    margin: 0px 15px;
    height: 175px;
}  
.table3{
    /* border: 1px solid orange; */
    width: 285px;
    margin: 0px 15px;
    height: 200px;
}  
.table4{
    /* border: 1px solid orange; */
    width: 285px;
    margin: 0px 15px;
    height: 175px;
}  
.table1 h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #4CB5AB;
    line-height: 1.8;
    letter-spacing: normal;
    margin-top: 30px;
}
.table1 a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    display: block;
    color: #4CB5AB;
    text-decoration: none;
}
.table2 h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #4CB5AB;
    line-height: 1.8;
    letter-spacing: normal;
    margin-top: 30px;    
}
.table2 a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    display: block;
    color: #4CB5AB;
    text-decoration: none;
}
.table3 h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #4CB5AB;
    line-height: 1.8;
    letter-spacing: normal;
    margin-top: 30px;    
}
     

.table3 a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    display: block;
    color: #4CB5AB;
    text-decoration: none;
}
.table4 a{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    display: block;
    color: #4CB5AB;
    text-decoration: none;
}
.table4 h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #4CB5AB;
    line-height: 1.8;
    letter-spacing: normal;
    margin-top: 30px;    
}
.pic3 h6{
    border: 1px solid white;
    width: 1320px;
    margin: auto;
    margin-top: 40px;
}
.p{
    /* border: 1px solid black; */
    width: 400px;
    margin: auto;
    margin-top: 10px;
    color: #5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
}